.messages {
    border-top: 1px solid #eee;
}

.message-item td {
    height: 20px;
    padding: 3px 4px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

.message-item td img {
    padding-top: 1px;
}

.message-item:hover td {
    background: #efefef;
}

.message-item td.subject {
    font-weight: bold;
    overflow: hidden;
    font-size: 12px;
}

.message-item td.icon {
    width: 16px;
    text-align: left;
}

.message-item td.date {
    width: 200px;
    font-size: 12px;
}



.messages-writebox td {
    padding: 6px;
}

.messages-writebox .message {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px;
}

.messages-writebox td.avatar {
    padding: 0px 5px 0px 0px;
}

