
.avatar-50 {
    width: 50px;
    height: 50px;
    padding: 3px 6px 6px 3px;
    margin: 2px;
}

.avatar-50 img {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
}

.avatar-50 img:hover {
    -webkit-box-shadow: 0 0 4px #41d40d;
    -moz-box-shadow: 0 0 4px #41d40d;
}


.avatar-25 {
    width: 25px;
    height: 25px;
    padding: 3px 6px 6px 3px;
    margin: 2px;
}

.avatar-25 img {
    width: 25px;
    height: 25px;
    -webkit-box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
}

.avatar-25 img:hover {
    -webkit-box-shadow: 0 0 4px #41d40d;
    -moz-box-shadow: 0 0 4px #41d40d;
}

#user-info-popup {
    position: absolute;
    z-order: 10;
    background: rgba(0,0,0,0.7);
    color: #ccc;
    padding: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
}

#user-info-name {
    font-weight: bold;
}


.profile {
    width: 685px;
    padding: 15px 15px;
}

.profile .photo {
    margin: 3px 20px 10px 0px;
    border: 1px solid #aaa;
    width: 100px;
    float: left;
}

.profile .name {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile .group {
    font-size: 14px;
    color: #999;
    padding-left: 3px;
}

.profile .buttons {
    padding: 5px 0px 0px 0px;
}

.profile .block {
    padding: 3px;
    margin: 3px 10px 3px 0px;
    border-top: none;
}

.profile .left-separator {
    border-left: 1px solid #ccc;
}

.profile .block-title {
    background: url('/static/images/icons/block.png') 3px 4px no-repeat #ddd;
    padding: 2px 0px 2px 20px;
    font-weight: bold;
    color: #555;
    border-top: 2px solid #aaa;
}

.profile .community-buttons {
    padding: 3px 20px 0px 0px;
    float: right;
}

.profile .status {
    float: right;
    margin-right: 20px;
    text-align: center;
    vertical-align: baseline;
    background: url('/static/images/cloud.png') no-repeat;
    width: 133px;
    height: 60px;
    padding: 20px 30px 30px 80px;
    font-size: 14px;
    color: #444;
}


.friendsbox {
    width: 100%;
    height: 90px;
    overflow: scroll;
}

.friends img.photo {
    margin-top: 5px;
}

.friends td.photo {
    padding: 3px 20px 5px 20px;
    width: 50px;
}

.friends .name {
    padding: 5px 0px 0px 0px;
    font-size: 16px;
}

.friends .group {
    font-size: 12px;
    color: #999;
    padding-left: 3px;
}

.friends .buttons {
    padding: 5px 0px 0px 10px;
}




.community {
    width: 670px;
    margin: 0 10px;
}


.community #title {
    padding: 5px 0px 10px 0px;
    font-size: 20px;
}

.community .buttons {
    padding: 18px 0px 0px 0px;
    text-align: right;
}

.community .users {
    padding: 10px 20px 0px 20px;
    width: 160px;
}

.community .users span {
    font-weight: bold;
}

.community .topics {
    padding: 10px 20px 0px 20px;
    width: 160px;
}

.community .topics span {
    font-weight: bold;
}

.usersbox {
    width: 100%;
    height: 90px;
    overflow: scroll;
}


/* Files */

.files .buttons {
    padding-left: 10px;
}

.file-item {
    padding: 0px;
}

.file-item .icon {
    padding: 10px 5px 10px 5px;
}

.file-item .name {
    font-weight: bold;
    padding: 10px 0px 0px 0px;
    font-size: 12px;
}

.file-item .info {
    font-size: 10px;
    color: #777;
    padding: 0px 5px 0px 0px;
}

.file-item .buttons {
    padding: 15px 0px 0px 10px;
}


.rating {
    margin: 10px 5px;
    border: 1px solid #777;
    width: 160px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.rating .name {
    width: 160px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
    color: #444;
    text-shadow: 1px 1px 1px #ccc;
    background: #aaa;
    background: -moz-linear-gradient(top,  #bbb,  #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
}

.rating .choicel {
    width: 75px;
    padding: 3px 0px 3px 5px;
    border-bottom: 1px solid #777;
}

.rating .choicer {
    width: 75px;
    padding: 3px 5px 3px 0px;
    text-align: right;
    border-bottom: 1px solid #777;
}

.rating .plusbtn {
    background: #559955;
    background: -moz-linear-gradient(top,  #55cc55,  #559955);
    background: -webkit-gradient(linear, left top, left bottom, from(#55cc55), to(#559955));
    width: 16px;
    vertical-align: middle;
}

.rating .minusbtn {
    background: #995555;
    background: -moz-linear-gradient(top,  #cc5555,  #995555);
    background: -webkit-gradient(linear, left top, left bottom, from(#cc5555), to(#995555));
    width: 16px;
    vertical-align: middle;
}

.rating .plusbtn:hover {
    background: #55cc55;
}

.rating .minusbtn:hover {
    background: #cc5555;
}

.rating .plus {
    font-size: 16px;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #55dd55;
    color: #fff;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    background: #559955;
    background: -moz-linear-gradient(top,  #55cc55,  #559955);
    background: -webkit-gradient(linear, left top, left bottom, from(#55cc55), to(#559955));
}

.rating .minus {
    font-size: 16px;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #dd5555;
    color: #fff;
    border-right: 1px solid #777;
    background: #995555;
    background: -moz-linear-gradient(top,  #cc5555,  #995555);
    background: -webkit-gradient(linear, left top, left bottom, from(#cc5555), to(#995555));
}



.plus-rating {
    font-size:20px;
    color:green;
}

.minus-rating {
    font-size:20px;
    color:red;
}
