{% extends "main.html" %}
{% block content %}

        <script>
            $(function() {
                $( "#datepicker" ).datepicker({ monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'] });

                var nextText = $( "#datepicker" ).datepicker( "option", "nextText" );
                $( "#datepicker" ).datepicker( "option", "nextText", '>>' );
                var prevText = $( "#datepicker" ).datepicker( "option", "prevText" );
                $( "#datepicker" ).datepicker( "option", "prevText", '<<' );
                var dayNamesMin = $( "#datepicker" ).datepicker( "option", "dayNamesMin" );
                $( "#datepicker" ).datepicker( "option", "dayNamesMin", ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вск'] );  
                $( "#datepicker" ).datepicker();
            });
        </script>
<div class="profile">
    <div class="community-buttons">
        {% if ismygroup %}
            <a href="/community/leave/{{c.id}}" class="cbutton">Покинуть</a>
        {% else %}
            <a href="/community/join/{{c.id}}" class="cbutton">Вступить</a>
        {% endif %}
    </div>
    
    <div class="name">
        <a class="name inner" href="/community/{{c.parent.id}}">{{ c.parent.name }}</a> > {{ c.name }}
    </div>
    
	<div style="width:260px; float:right" class="left-separator">
        <div style="width:240px;" class="block">
            <div style="width:240px" class="block-title">Файлы</div>
            <table>
            {% for file in files %}
               {% include "file-item.html" %}                       
            {% endfor %}
            </table>
            <a href="#" class="cbutton" onclick="ui_show_dialog('dialog-addfile')">Добавить файл</a>
        </div>
    
	    {% if lectors|length > 0 %}
	    <div style="width:240px;" class="block">
            <div style="width:240px" class="block-title">Преподаватели</div>
            <table>
            {% for lector in lectors %}
                <a class="inner" href="/lector/{{ lector.id }}">{{ lector.full_name }}</a><br/>
            {% endfor %}
            </table>
        </div>
	    {% endif %}
	    
	    <div style="width:240px;" class="block events">
            <div style="width:240px" class="block-title">События</div>
            
            {% for event in events|dictsort:'date' %}
                {% ifchanged event.event_date %}
                    <div class="date">{{event.date}}</div>
                {% endifchanged %}
                <div class="name">{{ event.name }}</div>
            {% endfor %}
        </div>
	    {% if admin %} <a href="#" class="cbutton" onclick="ui_show_dialog('dialog-addevent')">Добавить событие</a>{% endif %}
	</div>

   
    
    <div style="width:400px" class="block-title">Участники</div>
    <div style="width:400px" class="block">
        <div class="usersbox">
        {% for user in c.user_set.all %}
            {% include "user-item.html" %}
        {% endfor %}         
        </div>           
    </div>
    
    <div style="width:400px" class="block-title">Обсуждения</div>
    <div style="width:400px" class="block">
        <ul>
        {% for topic in topics %}
            <li><a href="/topic/{{topic.id}}" class="inner">{{topic.name}}</a></li>
        {% endfor %}
        </ul>
        {{pager}}<a class="cbutton" href="#" onclick="ui_show_dialog('dialog-addtopic');">Новое обсуждение</a>
    </div>
	
</div>

<div class="dialog" id="dialog-addtopic" style="display:none">
    <div class="dialog-content">
    <form method="POST" action="/community/{{ c.id }}/addtopic"  enctype="multipart/form-data">
	{% if error_msg %}
		<div id = "error_dialog_div" class="notify-error">
	{% else %}
		<div id = "error_dialog_div" class="notify-error" style="display:none" >
	{% endif %}
			{{ error_msg }}
		</div>
        Тема<br/>
      	<input class="text" type="text" id="header" name="header"/><br/>
   	    Текст<br/>
        <textarea name="text" rows="20"></textarea><br/>
       	<input id="submit" class="cbutton" name="submit_add" onclick="return check_addtopic_form()" type="submit" value="Создать"/>
    </form>
    </div>
</div>

{% if admin %}
<div class="dialog" id="dialog-addevent" style="display:none">
    <div class="dialog-content">
    <form method="POST" action="/community/{{ c.id }}/addevent"  enctype="multipart/form-data">
	{% if error_msg %}
		<div id = "error_dialog_div" class="notify-error">
	{% else %}
		<div id = "error_dialog_div" class="notify-error" style="display:none" >
	{% endif %}
			{{ error_msg }}
		</div>
        Событие:<br>
        <textarea id="event_name" name="event_name"></textarea><br>
        <p>Дата: <input id="datepicker" name="date" type="text"></p>
        <input type="submit" id="submit" class="cbutton" name="addevent_submit" onclick="return check_addevent_form()" value="Добавить"/>
    </div>
</div>
{% endif %}

<div class="dialog" id="dialog-addfile" style="display:none">
    <div class="dialog-content">
    <form method="POST" action="/community/{{ c.id }}/addfile"  enctype="multipart/form-data">
        <table>
{% for file in my_files %}
<tr class="file-item">
    <td rowspan="2" class="icon">
        <a href="/something/{{c.id}}/{{file.id}}">
            <img src="/static/images/files/{{file.name|slice:"-3:"}}.png"/>
        </a>
    </td>
    <td colspan="2" class="name">
        <a href="/something/{{c.id}}/{{file.id}}">
            {{file.name}}
        </a>
    </td>
</tr>
<tr class="file-item">
    <td class="info"></td>
    <td class="info">{{file.date}}</td>
</tr>
{% endfor %}
        </table>
    </form>
    </div>
</div>
{% endblock %}
