<table class="community">
    <tr>
        <td class="name">
            <a class="inner" href="/community/{{c.parent.id}}">{{ c.parent.name }}</a> > {{ c.name }}
        </td>
        <td class="buttons">
            {% if ismygroup %}
            <a href="/community/leave/{{c.id}}" class="cbutton">Покинуть</a>
            {% else %}
            <a href="/community/join/{{c.id}}" class="cbutton">Вступить</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="sep"></td>
    </tr>
    <tr>
         <td class="users" colspan="2">
             <span>Участники:</span>
             <div class="usersbox">
                {% for user in c.user_set.all %}
                    {% include "user-item.html" %}
                {% endfor %}                    
             </div>
        </td>
    </tr>
    <tr>
         <td class="users" colspan="2">
             <span>Обсуждения:</span>
             <ul>
             {% for topic in topics %}
                <li><a href="/topic/{{topic.id}}" class="inner">{{topic.name}}</a></li>
             {% endfor %}
             </ul>
             {{pager}}
         </td>
    </tr>
</table>
