<div class="profile">
    <div class="community-buttons">
        {% if ismygroup %}
            <a href="/community/leave/{{c.id}}" class="cbutton">Покинуть</a>
        {% else %}
            <a href="/community/join/{{c.id}}" class="cbutton">Вступить</a>
        {% endif %}
    </div>
    
    <div class="name">
        <a class="name inner" href="/community/{{c.parent.id}}">{{ c.parent.name }}</a> > {{ c.name }}
    </div>
    
    <div style="width:260px; float:right">
    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Файлы</div>
        <table>
        {% for file in files %}
           {% include "file-item.html" %}                       
        {% endfor %}
        </table>
    </div>
    
    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Преподаватели</div>
        <table>
        {% for lector in lectors %}
            <a href="/lector/{{ lector.id }}">{{ lector.full_name }}</a><br/>
        {% endfor %}
        </table>
    </div>
    </div>
   
    
    <div style="width:400px" class="block-title">Участники</div>
    <div style="width:400px" class="block">
        {% for user in c.user_set.all %}
            {% include "user-item.html" %}
        {% endfor %}                    
    </div>
    
    <div style="width:400px" class="block-title">Обсуждения</div>
    <div style="width:400px" class="block">
        <ul>
        {% for topic in topics %}
            <li><a href="/topic/{{topic.id}}" class="inner">{{topic.name}}</a></li>
        {% endfor %}
        </ul>
        {{pager}}
    </div>


</div>
