{% extends "main.html" %}
{% block content %}
<div class="profile">


<div style="width:260px; float:right" class="left-separator">
    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Завтра: Неделя {{ week_number }}</div>
        {{ tomorrow_timetable }}
		{% if tomorrow_timetable|length %}
           {{ tomorrorow_timetable|safe }}
		{% else %}
			Выходной
		{% endif %}
    </div>

    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Группы</div>
        <div style="padding-left: 30px">
            <ul style="list-style: square outside">
            {% for c in me.communities.all|dictsort:"name"|dictsortreversed:"rank" %}
                <li><a class="inner" href="/community/{{c.id}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    
    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">События</div>
        <div style="padding-left: 10px">
            {% for event in events|dictsort:'event_date' %}
                {% ifchanged event.event_date %}
                    {{event.event_date}}<br/>
                {% endifchanged %}
                --{{ event.name }}<br/>
            {% empty %}
                Нет событий
            {% endfor %}
        </div>
    </div>

</div>


    <div style="width:400px" class="block-title">Новости</div>
    <div style="width:400px" class="block">
    <table class="news">
        <tr>
            <td class="date">
            03.03.2004
            </td>
        </tr>
        <tr>
            <td class="news">
                <a href="#" class="inner">Вера Дубинова</a> добавила в друзья
                <a href="#" class="inner">Артема Твердолобова</a>
            </td>
        </tr>
    </table>
    </div>
    
    
</div>
{% endblock %}
