

<table><tr><td style="width:500px">

    <div class="block-header">
    Что нового:
    </div>

    <table class="news">
        <tr>
            <td class="date">
            03.03.2004
            </td>
        </tr>
        <tr>
            <td class="news">
                <a href="#" class="inner">Вера Дубинова</a> добавила в друзья
                <a href="#" class="inner">Артема Твердолобова</a>
            </td>
        </tr>
        <tr>
            <td class="date">
                02.03.2004
            </td>
        </tr>
        <tr>
            <td class="news">
                <a href="#" class="inner">Иван Раздолбаев</a> зарегистрировался в группе
                <a href="#" class="inner">052004</a>
            </td>
        </tr>
        <tr>
            <td class="news">
                <a href="#" class="inner">Петр Какулькин</a> зарегистрировался в группе
                <a href="#" class="inner">052004</a>
            </td>
        </tr>
    </table>
    
    </td><td style="width: 240px">
        <div class="block-header">
            Завтра: Неделя {{ week_number }}
        </div>
        
        <div style="padding-left: 10px">
            {{ tomorrorow_timetable|safe }}
        </div>

        <div class="block-header">
            Группы
        </div>

        <div style="padding-left: 30px">
            <ul style="list-style: square outside">
            {% for c in me.communities.all|dictsort:"name"|dictsortreversed:"rank" %}
                <li><a class="inner" href="/community/{{c.id}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </td></tr>
</table>    

