{% extends "main.html" %}
{% block content %}
<div class="profile">

<div style="width:260px; float:right" class="left-separator">
    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Завтра: Неделя {{ week_number }}</div>
		{% if tomorrow_timetable|length > 0 %}
<table class="timetable">
{% for item in tomorrow_timetable %}
 <tr>
	<td class="time">{{ item.start }}</td>
	<td class="mode"><img src="static/images/lecturemodes/{{ item.mode }}.png"/></td>
	<td class="subj">{{ item.subject_name }}</td>
	<td class="room">{{ item.room }}</td>
</tr>
{% endfor %}
</table>
		{% else %}
			Выходной
		{% endif %}
    </div>

    <div style="width:240px;" class="block">
        <div style="width:240px" class="block-title">Группы</div>
        <div style="padding-left: 30px">
            <ul style="list-style: square outside">
            {% for c in me.communities.all|dictsort:"name"|dictsortreversed:"rank" %}
                <li><a class="inner" href="/community/{{c.id}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    
    <div style="width:240px;" class="block events">
        <div style="width:240px" class="block-title">События</div>
        <div style="padding-left: 10px">
            {% for event in events|dictsort:"date" %}
                {% ifchanged event.event_date %}
                    <div class="date">{{event.date}}</div>
                {% endifchanged %}
                <div class="name">{{ event.name }}</div>
            {% empty %}
                Нет событий
            {% endfor %}
        </div>
    </div>

    </div>

<form action="/change_status" method="POST">
<a href="/{{me.id}}" class="inner">{{me.full_name}}:</a>&nbsp;&nbsp;
<a class="inner" id="status_label" href="#" onclick="change_status('{{ me.status }}')">
{% if me.status|length > 0 %}
    {{ me.status }}
{% else %}
    Установить статус
{% endif %}
</a>
    <span id="edit-status" style="display: none">
        <input class="text" type="text" name="status" id="statusbox" style="width: 200px">
        <br/>
        <input type="submit" name="setststus_submit" value="Установить" class="cbutton">
        <a href='#' onclick="cancel_status();return false;" class="cbutton">Отменить</a>
    </span>
</form>

<br/>
    <div style="width:400px" class="block-title">Новости</div>
    <div style="width:400px" class="block news">
    {% for news in me.newstopic_set.all|dictsortreversed:"date" %}
        {% ifchanged news.date.date %}
            <div class="date">{{news.date.date}}</div>
        {% endifchanged %}
        
        <div class="msg">
        {% if news.comment %}
            Новый ответ на ваш комментарий "{{news.comment.text|slice:":30"}}":
        {% else %}
            {% if news.about %}
                Новый ответ в обсуждении "{{news.topic.name}}":
            {% else %}
                Новое обсуждение в сообществе "{{news.topic.community.name}}":
                <b>{{news.topic.name}}</b>
            {% endif %}
        {% endif %}
        <a href="/topic/{{news.topic.id}}#comment-{{news.about.id}}">
        <div class="quote">
            <img src="/static/images/icons/new-reply.png"/>
            {% if news.about %}
                <div class="author">{{news.about.author.full_name}}</div>
                {{news.about.text}}
            {% else %}
                <div class="author">{{news.topic.root.author.full_name}}</div>
                {{news.topic.root.text}}
            {% endif %}
        </div>
        </a>
        </div>
    {% endfor %}
    </div>
    
    
</div>
{% endblock %}
