{% extends "main.html" %}
{% block content %}
<div class="profile">

<a href="#" class="cbutton" onclick="ui_show_dialog('dialog-addfile')">Добавить файл</a>
<br/>
<table class="files">

{% for file in files %}
<tr class="file-item">
    <td rowspan="3" class="icon">
        <a href="/file/download/{{file.id}}">
            <img src="/static/images/files/{{file.name|slice:"-3:"}}.png"/>
        </a>
    </td>
    <td colspan="2" class="name">
        <a href="/file/download/{{file.id}}">
            {{file.name}}
        </a>
    </td>
    <td rowspan="2" class="buttons">
        <a class="cbutton" href="/file/delete/{{file.id}}">Удалить</a>
    </td>
</tr>
<tr>
    <td colspan="2">
        {{ file.description }}
    </td>
</tr>
<tr class="file-item">
    <td class="info"></td>
    <td class="info">{{file.date}}</td>
</tr>    
{% endfor %}
</table>

</div>

<div class="dialog-blackout" id="blackout" style="display:none"></div>                  
<div class="dialog" id="dialog-addfile" style="display:none">
    <div class="dialog-content">
		<div id = "error_dialog_div" class="notify-error" style="display:none" ></div>
    <form method="POST" action="/files/add"  enctype="multipart/form-data">
        Файл:<br/>
       	<input class="text" id="file" type="file" name="file"/><br/>
   	    Описание:<br/>
        <textarea name="description"></textarea><br/>
      	<input id="submit" class="cbutton" name="submit_add" onclick="return check_addfile_form()" type="submit" value="Добавить"/>
    </form>
    </div>
</div>
{% endblock %}
