<div class="profile-wr">
<a href="/friends"><span class="cswitch">Друзья</span>&nbsp;</a>
<a href="/lectors"><span class="cswitch cswitch-active">Преподаватели</span></a>
<table class="lectors">

    {% for lector in lectors %}
    <tr>
        <td class="name">
            <a href="/lector/{{ lector.id }}">{{ lector.full_name }}</a>
        </td>
    </tr>
    <tr>
        <td class="subjects" colspan="2">
			{% for subject in lector.subjects.all %}
				<a href="/community/{{ subject.community.id }}">{{ subject.short_name }}</a>&nbsp;
			{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

</div>

