<h1>{{ lector.full_name }}</h1>
<img src="/static/storage/avatars/100.{{ lector.photo }}"/>
<h1>Преподаваемые дисциплины :</h1>
{% for subject in lector.subjects.all %}
    <a href="/community/{{ subject.community.id }}">{{ subject.short_name }}</a><br/>
{% endfor %}
<h1>Рейтинг</h1>
{% for rating_item in lector.rating.all %}
    {{ rating_item.cls.name }} - {{ rating_item.plus }} / {{ rating_item.minus }}
    <br/>
    <a href="#" onclick="ajax('/rating/{{ rating_item.id }}/1');" class="plus-rating">+<a>&nbsp
    <a href="#" onclick="ajax('/rating/{{ rating_item.id }}/0');" class="minus-rating">-</a>
{% endfor %}
<h1>Отзывы</h1>
<div class="topic">
{% for comment in lector.lectorcomment_set.all|dictsortreversed:"date" %}
    {% include "lector-comment.html" %}    
{% endfor %}
</div>
