{% extends "main.html" %}
{% block content %}

<div class="page-wrapper">
<form method="POST" action="/messages/send/{{u.id}}">

<table class="messages-writebox">
        <tbody id="messages">
        <tr>
            <td class="avatar">
                {% with me as user %}
                    {% include "user-item.html" %}
                {% endwith %}
            </td>
            <td>
                <textarea name="text" class="message"></textarea>
                <br/>
                <div id="attach-preview"></div>
            </td>
            <td>
                <input type="submit" value="Отправить" class="cbutton"/>
                <a href="#" class="cbutton" onclick="ui_show_dialog('dialog-files')">Вложить</a>
            </td>
        </tr>
        {% for msg in messages %}
        <tr>
            <td class="avatar">
                {% with msg.src as user %}
                    {% include "user-item.html" %}
                {% endwith %}
            </td>
            <td>
                <div class="message">{{ msg.text }}
                <table>
                    {% for file in msg.attachments.all %}
                        {% include "file-item.html" %}
                    {% endfor %}
                </table>
                </div>
            </td>
            <td>
                <a href="/messages/delete/{{msg.id}}" class="cbutton">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{{pager}}
</div>

{% include "files-window.html" %}
{% endblock %}
