<div class="profile">
    <img class="photo" src="/static/storage/avatars/100.{{ user.avatar }}" class="photo"/>
    <span class="name">{{ user.full_name }}</span>
    <br/>
    <span class="group">
        <a href="#" class="inner">{{ user.group.faculty.name }}</a> -
        <a href="#" class="inner">{{ user.group.stream.name }}</a> -
        <a href="#" class="inner">{{ user.group.name }}</a> -
        {{ user.subgroup }}
    </span>
    <br/>
    <span class="group">
        Родился: {{ user.birthday }}
    </span>
    <br/>
    <div class="buttons">
        {% if notmyfriend %}
        <a href="/friends/add/{{user.id}}" class="cbutton">В друзья</a>
        {% endif %}
        <a href="/messages/view/{{user.id}}" class="cbutton">Написать</a>
        <a href="timetable.php?group={$group}&subgroup={$subgroup}"><input type="submit" class="cbutton" value="Расписание"/></a>
    </div>

    <br/>
    <br/>
    
    <div style="width:650px" class="block-title">Друзья:</div>
    <div style="width:650px" class="block">
        {% for user in friends %}
            {% include "user-item.html" %}
        {% endfor %}                    
    </div>
</div>

