{% extends "main.html" %}
{% block content %}
<div class="page-wrapper topic">
    <span class="title">{{topic.name}}</span>
    <br/>
    <a class="inner" href="/community/{{topic.community.id}}">&lt; Назад к группе</a>
    {{comments}}

<div style="display:none" id="reply-form">
    <div class="reply-form">
        <form action="/topic/reply" method="POST">
            <input id="reply-to" name="to" type="hidden"/>
            <textarea name="text"></textarea>
            <br/>
            <div id="attach-preview"></div>
            <input type="submit" class="cbutton" value="Отправить"/>
            <a class="cbutton" href="#" onclick="ui_show_dialog('dialog-files')">Вложить</a>
        </form>
    </div>
</div>

<script>
    replyFormHTML = document.getElementById("reply-form").innerHTML;
    document.getElementById("reply-form").innerHTML = '';
</script>
</div>

{% include "files-window.html" %}
{% endblock %}
